.todoitem-container{
    background-color: rgb(208, 208, 208);
    display: flex;
    text-align: start;
    height: 100px;
    width: 600px;
    margin-top: 8px;
}

.status{
    height: 100px;
    width: 15px;
    text-align: start;
    list-style-type: none;
}

